/* ##############################################################################
####		created by João Gabriel Corrêa da Silva			            	####
####	    https://www.joaogabrielcorreadasilva.com.br                    	####
   ############################################################################## */
@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&family=Lilita+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200');

@keyframes earthquake {
  0%   { transform: translate(0, 0) rotate(0deg); }
  5%   { transform: translate(-2px, 1px) rotate(-0.5deg); }
  10%  { transform: translate(2px, -1px) rotate(0.6deg); }
  15%  { transform: translate(-3px, -2px) rotate(-0.8deg); }
  20%  { transform: translate(3px, 2px) rotate(0.8deg); }
  25%  { transform: translate(-2px, 2px) rotate(-0.6deg); }
  30%  { transform: translate(2px, -2px) rotate(0.7deg); }
  35%  { transform: translate(-4px, 1px) rotate(-1deg); }
  40%  { transform: translate(4px, -1px) rotate(1deg); }
  45%  { transform: translate(-3px, 3px) rotate(-0.8deg); }
  50%  { transform: translate(3px, -3px) rotate(0.9deg); }
  55%  { transform: translate(-2px, -1px) rotate(-0.6deg); }
  60%  { transform: translate(2px, 1px) rotate(0.6deg); }
  65%  { transform: translate(-3px, 0px) rotate(-0.7deg); }
  70%  { transform: translate(3px, 0px) rotate(0.7deg); }
  75%  { transform: translate(-2px, -2px) rotate(-0.6deg); }
  80%  { transform: translate(2px, 2px) rotate(0.6deg); }
  85%  { transform: translate(-1px, 1px) rotate(-0.4deg); }
  90%  { transform: translate(1px, -1px) rotate(0.4deg); }
  95%  { transform: translate(-1px, 0px) rotate(-0.2deg); }
  100% { transform: translate(0, 0) rotate(0deg); }
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 1,
  'wght' 300,
  'GRAD' 0,
  'opsz' 20
}

html, body {
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
    background-color: #1b2537;
    overflow: hidden;
    font-family: "Lexend", 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    & button {
        background-color: #04e19e;
        border: none;
        color: #fff;
        padding: 1em 2em;
        border-radius: 0.3em;
        box-shadow: 2px 2px 0 1px #027653;
        border: #027653 2px solid;
        text-transform: uppercase;
        font-size: 1em;
        transition: all 0.3s ease;
        &.icon-only {
            box-shadow: none;
            padding: 1em;
            background-color: transparent;
            border: none;
            font-size: 1.2em;
        }
        &:active {
            box-shadow: 0 0 0 0 #027653;
            &.icon-only {
                box-shadow: none;
                transform: scale(1.2);
            }
        }
    }
    & #game {
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        &.shake {
            animation: earthquake 250ms linear both;
        }
    }
    & .game-ui {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        color: #fff;
        & .in-game {
            position: fixed;
            top: 0;
            left: 0;
            right: 0;
            display: flex;
            flex-direction: column;
            align-items: center;
            & .actions {
                margin-top: 1em;
                display: flex;
                justify-content: space-between;
                width: calc(100% - 2em);
                display: none;
            }
            & #points {
                position: fixed;
                text-align: center;
                bottom: 1em;
                font-size: 5em;
            }
        }
        & .in-pause {
            position: fixed;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            backdrop-filter: blur(3px) grayscale(0.8);
            transform-origin: center center;
            transform: scale(0);
            opacity: 0;
            transition: opacity 0.3s ease;
            background-color: #1b2537aa;
            & .best {
                display: flex;
                justify-content: center;
                & #bestLabel {
                    position: fixed;
                    bottom: 21em;
                    font-size: 1.5em;
                    text-transform: uppercase;
                }
                & #best {
                    position: fixed;
                    text-align: center;
                    bottom: 1em;
                    font-size: 5em;
                    transition: bottom 0.3s ease;
                    transition-delay: 0.5s;
                }
            }
            &.first {
                & .best {
                    display: none;
                }
            }
            & #startBtn {
                position: fixed;
                bottom: 20em;
                left: 50%;
                transform: translateX(-50%);
                width: min(80%, 300px);
            }
            &.show {
                transform: scale(1);
                opacity: 1;
                & .best {
                    & #best {
                        bottom: 5em;
                    }
                }
            }
        }
    }
}